@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#top-banner{
	width: 100%;
	height: 90vh;
}

nav{
	padding: 3rem;
	display: flex;
	justify-content: space-between;
}

nav > button{
	width: 9rem;
	font-size: 15px;
	color: hsl(322, 100%, 66%);
	background-color: transparent;
	border: hsl(322, 100%, 66%) solid thin;
	box-shadow: 0px 0px 2px hsl(322, 100%, 66%);
	cursor: pointer;
	border-radius: 3rem;
}

nav > button:hover{
	color: hsl(321, 100%, 78%);
	border-color: hsl(321, 100%, 78%);
}

#top-banner #heading{
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#top-banner #heading h1{
	color: hsl(192, 100%, 9%);
	text-align: center;
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

#top-banner #heading p{
	color: hsl(192, 100%, 9%);
	font-size: 1.2rem;
	text-align: center;
	margin: 15px 25rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (max-width: 1100px){
	#top-banner #heading p{
		margin: 15px 5rem;
	}
}

#top-banner #heading button{
	margin-top: 18px;
	width: 15rem;
	height: 3rem;
	border: none;
	cursor: pointer;
	color: #ffffff;
	background-color: hsl(322, 100%, 66%);
	border-radius: 25px;
	font-family: 'Poppins', sans-serif;;
}

#top-banner #heading button:hover{
	background-color: hsl(321, 100%, 78%);
}

/*       part-2        */
#screen-mockups{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#screen-mockups img{
	width: 70%;
	height: 80%;
}

/*    part-3      */
#record-bar{
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-image: url(images/bg-section-top-desktop-1.svg);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}

@media (max-width: 800px){
	#record-bar{
		flex-direction: column;
		height: 70vh;
	}
}

#record-bar .data-bar{
	width: 300px;
	height: 250px;

}

.h1-value{
	font-size: 4rem;
	font-family: 'poppins';
	font-weight: 800;
	color: hsl(192, 100%, 9%);
	text-align: center;
}

.h2-value{
	color: hsl(207, 90%, 40%);
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

#community-data img,#message-data img{
	width: 100px;
}

/*  part-4   */

#grow-together{
	background-color: hsl(207, 100%, 98%);
}

#grow-together,#flowing-conversation,#your-users{
	width: 100%;
	height: 100vh;
	display: flex;
	color: hsl(192, 100%, 9%);
	font-family: 'Open Sans', sans-serifs;
	align-items: center;
	justify-content: space-evenly;
	
}
@media (max-width: 700px){
	#grow-together{
		flex-direction: column-reverse;
	}
	#flowing-conversation{
		flex-direction: column;
	}
	#your-users{
		flex-direction: column-reverse;
	}

	.illustration-panel{
		margin: 0px;
		text-align: center;
	}

	.illustration-panel h1{
		margin: auto;
		text-align: center;
	}


}



#banner-img{
	width: 80%;
	height: 80%;
}

#flowing-conversation #banner-img{
	margin-left: 30px;
}

.illustration-panel{
	height: 60vh;
	width: 100%;
}

.illustration-panel h1{
	font-size: 2.5rem;
	font-family:'Open Sans', sans-serifs;
	font-weight: 800;
	margin: 15px 100px;
}
.illustration-panel p{
	margin:  100px;
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serifs;
}

#flowing-conversation{
	background-image: url(images/bg-section-bottom-desktop-2.svg),url(images/bg-section-top-desktop-2.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top,bottom;
	border: none;
}

#your-users{
	background-color: hsl(207, 100%, 98%);
}

/*   part-7   */
#free-btn{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
	text-align: center;
	background-image: url(images/bg-section-bottom-desktop-1.svg),url(images/bg-footer-top-desktop.svg);
	background-repeat: no-repeat;
	background-position: top,bottom;
	background-size: 100%;
}

#free-btn h1{
	color: hsl(192, 100%, 9%);
	font-size: 38px;
	font-family: 'Open Sans', sans-serifs;
	font-weight: 800;
}

#free-btn > button{
	margin-top: 24px;
	padding: 15px;
	width: 20rem;
	border: none;
	color: #ffffff;
	background-color: hsl(322, 100%, 66%);
	cursor: pointer;
	border-radius: 25px;
	font-family: 'poppins', sans-serifs;
}

#free-btn > button:hover{
	background-color: hsl(321, 100%, 78%);
}

/* footer part */
footer{
	height: 70vh;
	border: none;
	font-family: 'Open Sans', sans-serifs;
	color: #ffffff;
	background-color: hsl(192, 100%, 9%);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#left-foot{
	width: 40%;
}

#left-foot p{
	margin-bottom: 20px;
}

#left-foot table{
	margin: 30px 0;
}

td img{
	height: 30px;
	width: 30px;
}

#left-foot table  th{
	padding: 20px;
}

ion-icon{
	height: 32px;
	width: 32px;
	cursor: pointer;
	padding: 15px 20px 0 0;
}

ion-icon:hover{
	color: lightskyblue;
}




#right-foot{
	width: 40%;
	padding: 15px;
}

#right-foot h1{
	margin-bottom: 15px;
}

#right-foot p{
	margin-bottom: 5rem;
}

#form{
	padding-bottom: 100px;
}

#form input{
	border: none;
	padding: 18px;
	height: 42px;
	width: 300px;
	outline: none;
	border-radius: 25px;
}

#form button{
	border: none;
	padding: 12spx;
	height: 42px;
	width: 100px;
	cursor: pointer;
	color: #ffffff;
	border-radius: 25px;
	background-color: hsl(322, 100%, 66%);k
	font-family: 'poppins',sans-serif;
	font-weight: 600;
}

#form button:hover{
	background-color: hsl(321, 100%, 78%);
}

@media (max-width: 800px){
	footer{
		flex-direction: column-reverse;
		height: 100vh;
		padding: 0px;
	}
	#left-foot{
		width: 100%;
		padding: 25px;
	}

	#right-foot{
		width: 100%;
		height: 300px;
	}

	input{
		margin: auto;
		width: 80%;
		display: block;
		padding: 15px;
	}

	#right-foot button{
		display: block;
		width: 70%;
		padding: 15px;
		margin: auto;
		
	}
}